<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <% if (user) {%>
      <a href="/join-club">Join the Club</a>
      <a href="/become-admin">Become an Admin</a>
      <a href="/new-message">Create a new message</a>
      <a href="/log-out">Log Out</a>
      <% } else { %>
      <a href="/log-in">Log In</a>
      <a href="/sign-up">Sign Up</a>
      <% } %>
    </nav>
    <div class="messages">
      <% for (let message of messages) { %>
      <div class="message">
        <h2 class="title"><%= message.title %></h2>
        <p class="text">Text: <%= message.text %></p>
        <p class="timestamp">
          Posted: <%= new Date(message.timestamp).toLocaleString() %>
        </p>
        <% if (membership === 'admin' || membership === 'member') { %>
        <p class="author">Author: <%= message.author %></p>
        <% } else { %>
        <p class="author">Author: hidden</p>
        <% } %> <% if (membership === 'admin') { %>
        <form action="/delete" method="POST" class="deleteForm">
          <input type="hidden" name="id" value="<%= message.id %>" />
          <button type="submit" class="deleteBtn">Delete</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>
